$IndexBG: "../img/bg/bg.jpg";

$NavSize: (width:100%, height:1.07rem);

$ConRadius:0.06rem;
$BodyPosition: (width:100%, height:auto, top:0.83rem, bottom:0rem, left:0rem, right:0rem);

$ConLeftPosition: (width:4.7rem, height:auto, top:0rem, bottom:auto, left:0.2rem, right:0rem);
$ConLeft1Size: (width:100%, height:5.86rem, marginTop:0rem);
$ConLeft2Size: (width:100%, height:3.72rem, marginTop:0rem);
$ConChart1Size:(width:100%, height:3.49rem, marginTop:0.2rem);
$ConChart2Size:(width:100%, height:2.12rem, marginTop:0.2rem);

$ConMiddlePosition: (width:8.97rem, height:auto, top:0rem, bottom:auto, left:5.11rem, right:auto);
$ConMiddle1Size: (width:100%, height:8.1rem, marginTop:0rem);
$ConMiddle2Size: (width:100%, height:1.9rem, marginTop:-0.2rem);
$ConMiddleChartPosition:(width:3rem, height:3rem, top:4.5rem, bottom:auto, left:5.5rem, right:auto);
$ConMiddleTipPosition:(width:2.39rem, height:2.2rem, top:2.4rem, bottom:auto, left:6.3rem, right:auto);

$ConRightPosition: (width:4.69rem, height:auto, top:0rem, bottom:auto, left:14.28rem, right:auto);
$ConRight1Size: (width:100%, height:5.86rem, marginTop:0rem);
$ConRight2Size: (width:100%, height:3.72rem, marginTop:0.2rem);